#main-container {
  max-width: 800px;
  margin: auto;
  padding: 5px 10px;
  background: #dbdbdb;
  font-family: "Quicksand", sans-serif;
  color: #262626;
}

a {
  text-decoration: none;
}

#title-container {
  background: #d1d1d1;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  font-size: 300%;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
  font-size: 75%;
  text-align: center;
}

.textJustify {
  text-align: justify;
}

h2 {
  text-align: center;
}

#tribute-info {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 50px;
  font-size: 120%;
  text-align: center;
  text-align-last: center;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}
